<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <canvas id="glCanvas" width="960" height="480"></canvas>
    <script id="vertexShader" type="x-shader/x-vertex">
      attribute vec4 a_position;
      uniform vec2 u_resolution;

      void main() {
        vec2 scaleOne = a_position.xy / u_resolution;
        vec2 scaleTwo = scaleOne * 2.0;
        vec2 clipSpace = scaleTwo - 1.0;

        gl_Position = vec4(clipSpace * vec2(1,-1), 0, 1);
      }
    </script>
    <script id="fragmentShader" type="x-shader/x-fragment">
      precision mediump float;

      void main() {
        gl_FragColor = vec4(1, 0, 0, 0.5);
      }
    </script>
  </body>
</html>
